# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment Variables
.env
- name: Checkout code
  uses: actions/checkout@v5

- name: Setup Python
  uses: actions/setup-python@v6
